body {
  background: #f8f9fa;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.catalog__product {
  flex: 1 290px;
  max-width: 278px;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__photo {
  width: 100%;
  height: 191px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__photo img {
  max-width: 90%;
  max-height: 100%;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__title {
  padding: 0px 12px 5px 12px;
  text-align: justify;
}
.catalog__title,
.catalog__prices {
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 700;
  color: #29304b;
  overflow: hidden;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}
.nav__search {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.nav__search button {
  top: 5px;
  left: 50%;
  border: none;
  background: #fff;
  height: 30px;
  color: #a8a4a4;
  opacity: 0.5;
  font-size: 16px;
}
.nav__search :hover button {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
.nav__search input {
  width: 300px;
  height: 30px;
  background: #fff;
  border: none;
  font-size: 16px;
  float: left;
  color: rgb(15, 14, 14);
  padding-left: 15px;
  border-radius: 5px;
}
.nav__sort #sort {
  height: 30px;
  border: none;
}
.aside .left__sidebar {
  display: flex;
  flex-direction: column;
  width: 54px;
  background: #fff;
  position: fixed;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-left: -25px;
}
.left__sidebar ul li i {
  width: 30px;
}
.left__sidebar-logo {
  height: 50px;
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #dde3ee;
}
.left__sidebar-logo img {
  width: 39px;
}
.nav__sort option {
  display: flex;
  justify-content: space-between;
}

select {
  border-radius: 8px;
  width: 100px;
  height: 20px;
  font-size: 13px;
  outline: 0;
  color: #29304b;
  border: 1px solid rgba(95, 102, 115, 0.1);
}
.container {
  display: flex;
  flex-direction: column;
}

.right__sidebar {
  background: #ecedf5;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  padding: 100px;
}

@media all and (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .left__sidebar {
    order: 1;
    flex: -1;
  }

  .right__sidebar {
    order: 2;
    flex: -1.5;
  }

  main {
    flex: 2;
    order: 3;
  }
}

.nav .right__sidebar {
  position: relative;
  margin: 5px;
}
.dropbtn {
  background-color: #49547d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.sub-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.dropdownbtn {
  position: relative;
  display: inline-block;
  background-color: #49547d;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #776cd3;
}
